<section id="hero" class="xl:bg-hero-image bg-cover bg-center text-white lg:min-h-[732px] bg-dark-blue px-6">
  <article class="max-w-view mx-auto flex flex-wrap justify-center lg:justify-between pt-64 sm:pt-72 lg:pt-56 pb-32  mt-[-103px]">

    <div class="max-w-[540px] text-center lg:text-start">
      <h1 class="text-4.5xl text-pretty text-light-blue font-bold">DESAFIO DE INOVAÇÃO HOLAMBRA COOPERATIVA</h1>
      <p class="font-light text-2xl mt-4">É hora de colocar seu projeto em prática e fazer a diferença no dia a dia
        dos
        produtores rurais.</p>
      <a href="#subscribe">
        <button class="text-dark-blue bg-white px-8 py-3 mt-8 font-medium text-xl hover:brightness-95 duration-150">INSCREVA-SE</button>
      </a>
    </div>

    <img src="assets/images/logo_visibilidade.svg" alt="Logo Visibilidade" class="hidden lg:block">
  </article>
</section>